{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules" : {
    "react/jsx-filename-extension": [1, { "extensions": [".tsx", ".ts"] }],
    "react/react-in-jsx-scope": "off",
    "import/extensions": "off",
    "no-use-before-define": "off",
    "no-nested-ternary": "off",
    "react/destructuring-assignment": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/ban-types": "off",
    "react/require-default-props": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
}